# Archivos de audio
*.mp3

# Imágenes
*.png
*.jpg
*.jpeg
*.gif

# Carpetas de módulos instalados
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos relacionados con Node.js
package.json
package-lock.json